@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:ital,wght@0,400;1,600;1,900&display=swap');

$Poppins: "Poppins", sans-serifl;

//colors 

$dark: rgb(29, 29, 29);
$light: white;
$primary: rgb(162,162,246);
$secondary: rgb(167, 41, 225);
$bg: rgb(244,244,255);

//spacing 
$spacing-md: 16px;
$spacing-lg: 32px;

//border Raidus
$borderRadius:12px ;

// header Height
$headerHeight: 100px;

@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 52em) { 
            @content; 
        }
    }
}